{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "regexp", "compat"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:regexp/recommended",
    "plugin:compat/recommended"
  ],
  "rules": {
    "no-case-declarations": "off",
    "no-fallthrough": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/explicit-function-return-type": "error"
  },
  "overrides": [
    {
      "files": ["__test__/**/*.ts", "jest.config.js", "jest.setup.ts"],
      "parserOptions": {
        "project": "./tsconfig.test.json"
      }
    },
    {
      "files": ["playground.ts"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
